language: java
dist: bionic
jdk:
- openjdk10
- openjdk11
matrix:
  include:
    # https://www.deps.co/guides/travis-ci-latest-java/#certificate-issues
    - jdk: openjdk8
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"
    - jdk: openjdk9
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"
    - jdk: openjdk12
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"
    - jdk: openjdk13
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"

before_install:
- gem install bundler jekyll html-proofer
#script: mvn -fae -U -B clean install -Pwith-docs -Pcheck
script: mvn -fae -U -B clean install -Pcheck
after_success:
- chmod +x .travis/deploy-docs.sh && .travis/deploy-docs.sh
- curl -Ls https://git.io/deploy-maven-snapshot | bash
env:
  global:
  - SNAPSHOT_BRANCH: "version/v3.x"
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # gh-pages: speeds up installation of html-proofer
cache:
  directories:
  - $HOME/.m2
notifications:
  irc:
    channels:
    - chat.freenode.net#52north
    on_failure: always
